[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
django-cleanup = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
boto3 = "*"
django-storages = "*"
whitenoise = "*"
gunicorn = "*"
python-dotenv = "*"

[dev-packages]
flake8 = "*"
black = "*"
pylint-django = "*"
autopep8 = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
